{{ if ne .chezmoi.os "linux" }}
.config/lazygit
.hushlogin
{{ end }}

{{ if ne .chezmoi.os "windows" }}
AppData
.claude/settings.json
.config/ccstatusline/settings.json
.gitconfig-windows
.glzr
.minttyrc
{{ end }}

{{ if (not (and (eq .chezmoi.os "windows") (eq .chezmoi.hostname "DESKTOP-DIGAGVV"))) }}
.gitconfig-user-personal-signing
{{ end }}
