{{- $host_type_choices := list "native" "wsl" "container" -}}
{{- $host_type := promptChoiceOnce . "host.type" "Host type" $host_type_choices "native" -}}
{{- $host_purpose_choices := list "personal" "work" "unknown" -}}
{{- $host_purpose := promptChoice "Host purpose" $host_purpose_choices "personal" -}}

[data.host]
    type = {{ $host_type | quote }}
    purpose = {{ $host_purpose | quote }}

[merge]
    command = "bash"
    args = [
        "-c",
        'cp {{ `"{{ .Target }}"` }} {{ `"{{ .Target }}"` }}.base && code --new-window --wait --merge {{ `"{{ .Destination }}"` }} {{ `"{{ .Target }}"` }} {{ `"{{ .Target }}"` }}.base {{ `"{{ .Source }}"` }}',
    ]
