{{ if ne .chezmoi.os "linux" }}
.hushlogin
{{ end }}

{{ if ne .chezmoi.os "windows" }}
AppData
.gitconfig-windows
.glzr
.minttyrc
{{ end }}

{{ if (not (and (eq .chezmoi.os "windows") (eq .chezmoi.hostname "DESKTOP-DIGAGVV"))) }}
.gitconfig-user-personal-signing
{{ end }}
