#########################
# General Configuration #
#########################

[user]
	useConfigOnly = true

[core]
	editor = code --wait

[init]
	defaultBranch = main


{{ if eq .chezmoi.os "windows" }}

##################################
# Windows-Specific Configuration #
##################################

# Windows - All Machines
[include]
	path = .gitconfig-windows

{{ if eq .chezmoi.hostname "DESKTOP-DIGAGVV" }}

# Windows - Personal Desktop
[include]
	path = .gitconfig-user-personal-signing

{{ else if eq .host.purpose "work" }}

# Windows - Work Machine
# Use work-specific config by default except for GH repos
[include]
	path = .gitconfig-user-work
[includeIf "gitdir:C:/Repos/GH/"]
	path = .gitconfig-user-personal


{{ end }}
{{ end }}


{{ if eq .chezmoi.os "linux" }}

##################################
# Linux-Specific Configuration #
##################################

# Linux - All Linux environments
[core]
	autocrlf = input

{{ end }}


{{ if eq .host.type "container" }}

###############################
# Dev Container Configuration #
###############################

{{ if eq .host.purpose "work" }}

# Dev Containers - Work Use
[include]
	path = .gitconfig-user-work

{{ else if eq .host.purpose "personal" }}

# Dev Containers - Personal Use
[include]
	path = .gitconfig-user-personal

{{ end }}
{{ end }}
