#########################
# General Configuration #
#########################

[user]
	useConfigOnly = true

[core]
	editor = code --wait

[init]
	defaultBranch = main

[credential "https://dev.azure.com"]
	useHttpPath = true

[diff]
	tool = default-difftool

[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE

[difftool]
	prompt = false

[merge]
	tool = code

[mergetool "code"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[mergetool]
	keepBackup = false


{{ if eq .chezmoi.os "windows" }}

##################################
# Windows-Specific Configuration #
##################################

# Windows - All Machines
[include]
	path = .gitconfig-windows

{{ if eq .chezmoi.hostname "DESKTOP-DIGAGVV" }}

# Windows - Personal Desktop
[include]
	path = .gitconfig-user-personal

{{ else if eq .host.purpose "work" }}

# Windows - Work Machine
# Use work-specific config by default except for GH repos
[include]
	path = .secretfiles/gitconfig-user-work
[includeIf "gitdir:C:/Repos/GH/bijancamp/"]
	path = .gitconfig-user-personal

[core]
	excludesfile = C:/Users/BijanCamp/.gitignore

[credential "https://github.com"]
	useHttpPath = true


{{ end }}
{{ end }}


{{ if eq .chezmoi.os "linux" }}

##################################
# Linux-Specific Configuration #
##################################

# Linux - All Linux environments
[core]
	autocrlf = input

{{ if eq .host.type "native" "wsl" }}

{{ if eq .host.type "wsl" }}
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{ end }}

{{ if eq .host.purpose "personal" }}

# Linux - Either Native or WSL - Personal Use
[include]
	path = .gitconfig-user-personal

{{ else if eq .host.purpose "work" }}

# Linux - Either Native or WSL - Work Use
# Use work-specific config by default except for gh repos
[include]
	path = .secretfiles/gitconfig-user-work
[includeIf "gitdir:~/repos/gh/bijancamp/"]
	path = .gitconfig-user-personal

[core]
	excludesfile = ~/.gitignore

[credential "https://github.com"]
	useHttpPath = true

{{ end }}

{{ else if eq .host.type "container" }}

###############################
# Dev Container Configuration #
###############################

# Dev Containers - All dev container environments
[core]
	excludesfile = ~/.gitignore

{{ if eq .host.purpose "personal" }}

# Dev Containers - Personal Use
[include]
	path = .gitconfig-user-personal

{{ else if eq .host.purpose "work" }}

# Dev Containers - Work Use
[include]
	path = .secretfiles/gitconfig-user-work

{{ end }}
{{ end }}
{{ end }}


[includeIf "gitdir:~/.local/share/chezmoi/"]
	path = .gitconfig-user-personal
