{
  "env": {
    "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS": "1",
    "ENABLE_TOOL_SEARCH": "true"
  },
  "model": "opus",
  "statusLine": {
    "type": "command",
    "command": "bunx -y ccstatusline@latest",
    "padding": 0
  },
  {{ if eq .host.purpose "work" -}}
  "enabledPlugins": {
    "slack@claude-plugins-official": true
  },
  {{- end }}
  "extraKnownMarketplaces": {},
  "alwaysThinkingEnabled": true,
  "effortLevel": "medium",
  "autoUpdatesChannel": "latest"
}
